@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

// .movie__poster {
//   display: block;
//   position: absolute;
//   margin-bottom: 80%;
//   max-width: 80%;
//   width: 180px;
//   height: 260px;
//   &:hover {
//     cursor: pointer;
//   }
// }

// .movie-card {
//   width: 300px;
//   height: 230px;
//   z-index: 9990;
//   backdrop-filter: blur(30px);
//   border: 1px solid white;
//   background-color: rgba(217, 217, 217, 0.205);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   border-radius: 10px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   // padding-top: 20px;
//   width: 300px;
//   height: 200px;
//   transition: all 0.7s;
//   color: black;
//   &:hover {
//     transform: scale(1.05);
//     cursor: pointer;
//   }
// }

.movie {
  margin-top: 110px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 300px;
  height: 230px;
  backdrop-filter: blur(30px);
  border-radius: 20px;
  transition: 0.5s;
  background: rgba(217, 217, 217, 0.3);
  border: 1.5px solid rgba(235, 235, 235, 1);
  padding: 20px;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.movie__poster {
  position: absolute;
  margin-bottom: 110px;
  width: 200px;
  height: 250px;
}

.name {
  color: rgba(255, 255, 255, 1);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  // line-height: 25;
}

.subtitle {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  gap: 10px;
}
